*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    width: 100vh;

    background: #CE5937;
    background: -moz-linear-gradient(left, #CE5937 0%, #1C6EA4 0%, #4253C5 100%);
    background: -webkit-linear-gradient(left, #CE5937 0%, #1C6EA4 0%, #4253C5 100%);
    background: linear-gradient(to right, #CE5937 0%, #1C6EA4 0%, #4253C5 100%);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1{
    margin: 20px;
}

.board ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 300px;
    height: 300px;
    list-style: none;
    cursor: pointer;
    
}
.square{
    width: 33.3%;
    height: 33.3%;  
     border: 2px solid rgb(110, 84, 84);
    transition: .3s
}

.over{

    background-image: url('o.png');
background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.cross{
    background-image: url('R.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}